Core/Connected Services/ServiceReference1/DeveloperService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59548/DeveloperService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59548/DeveloperService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:complexType name="DeveloperModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Common" base="q1:BasePropertyChanged">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KnowledgeBase" nillable="true" type="tns:ArrayOfKnowledgeModel" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="KnowledgeIds" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeveloperModel" nillable="true" type="tns:DeveloperModel" />
  <xs:complexType name="ArrayOfKnowledgeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KnowledgeModel" nillable="true" type="tns:KnowledgeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnowledgeModel" nillable="true" type="tns:ArrayOfKnowledgeModel" />
  <xs:complexType name="KnowledgeModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Common" base="q3:BasePropertyChanged">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rating" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KnowledgeModel" nillable="true" type="tns:KnowledgeModel" />
  <xs:complexType name="ArrayOfDeveloperModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeveloperModel" nillable="true" type="tns:DeveloperModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeveloperModel" nillable="true" type="tns:ArrayOfDeveloperModel" />
</xs:schema>