Core/Connected Services/ServiceReference2/KnowledgeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59548/KnowledgeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:complexType name="KnowledgeModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Common" base="q1:BasePropertyChanged">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rating" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KnowledgeModel" nillable="true" type="tns:KnowledgeModel" />
  <xs:complexType name="ArrayOfKnowledgeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KnowledgeModel" nillable="true" type="tns:KnowledgeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnowledgeModel" nillable="true" type="tns:ArrayOfKnowledgeModel" />
</xs:schema>