Core/Connected Services/ServiceReference2/KnowledgeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KnowledgeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59548/KnowledgeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59548/KnowledgeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59548/KnowledgeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
      <xsd:import schemaLocation="http://localhost:59548/KnowledgeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:59548/KnowledgeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKnowledgeService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_Deleted_InputMessage">
    <wsdl:part name="parameters" element="tns:Deleted" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_Deleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletedResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_InsertDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocument" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_InsertDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_UpdateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocument" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_UpdateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="IKnowledgeService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IKnowledgeService">
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/DeleteById" message="tns:IKnowledgeService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/DeleteByIdResponse" message="tns:IKnowledgeService_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/Deleted" message="tns:IKnowledgeService_Deleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/DeletedResponse" message="tns:IKnowledgeService_Deleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/FindAll" message="tns:IKnowledgeService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/FindAllResponse" message="tns:IKnowledgeService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/InsertDocument" message="tns:IKnowledgeService_InsertDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/InsertDocumentResponse" message="tns:IKnowledgeService_InsertDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/Save" message="tns:IKnowledgeService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/SaveResponse" message="tns:IKnowledgeService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/Update" message="tns:IKnowledgeService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/UpdateResponse" message="tns:IKnowledgeService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/UpdateDocument" message="tns:IKnowledgeService_UpdateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/UpdateDocumentResponse" message="tns:IKnowledgeService_UpdateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnowledgeService/FindById" message="tns:IKnowledgeService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnowledgeService/FindByIdResponse" message="tns:IKnowledgeService_FindById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKnowledgeService" type="tns:IKnowledgeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deleted">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/Deleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocument">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/InsertDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/UpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/IKnowledgeService/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KnowledgeService">
    <wsdl:port name="BasicHttpBinding_IKnowledgeService" binding="tns:BasicHttpBinding_IKnowledgeService">
      <soap:address location="http://localhost:59548/KnowledgeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>